<div class="tout">
    <div class="footer">
        <div class="gauche">
            <img src="././publics/images/logoCMCI.jpeg" alt="Logo CMCI">
        </div>
    
        <div class="milieu">
            <h4>CMCI</h4>
            <ul>
                <a href="https://ztfministry.org/fr/notre-but" target="_blank" ><li>Notre BUT</li></a>
                <a href="https://download.ztfministry.org/fr/#166-116-francais" target="_blank" > <li>SOS PDF Traités</li></a>
            </ul>
        </div>
    
        <div class="droite">
            <h4>LES AMIS DU LEADER</h4>
            <ul>
                <a href="index.php?action=acceuil"><li>Accueil</li></a>
                <a href="index.php?action=menu2"><li>C.R.I</li></a>
                <a href="index.php?action=menu3"><li>Pôles</li></a>
                
            </ul>
        </div>
    </div>
    <span>Copyright© Septembre 2022 | SYGECOR</span>
</div>